<!-- 

If you make any changes here make sure you 
copy and paste it into the 'components.js'
relative fallback function.

Additionally, you only need to add the HTML 
content that will be placed inside the footer.

So you do not need to add HTML boilerplate code
or the footer element itself but rather the
content/elements that will be placed inside it.

NOTE: If you're going to add/edit the copyright notice
ensure you add the <time> tag for the year.

For example:

<time datetime="2025">2025</time>

-->

<div class="footer-content">
    <div class="flex-1">
        <a href="index.html">
            <img src="assets/images/logo/logo_color_transparent_png.png" alt="DigitalDash logo">
        </a>
        <p></p>
    </div>
    <div class="flex-2">
        <a href="#" target="_blank">
            <i class="bi bi-facebook"></i>
        </a>
        <a href="#" target="_blank">
            <i class="bi bi-twitter"></i>
        </a>
        <a href="#" target="_blank">
            <i class="bi bi-twitter-x"></i>
        </a>
    </div>
</div>