<!-- 

If you make any changes here make sure you 
copy and paste it into the 'components.js'
relative fallback function.

Additionally, you only need to add the HTML 
content that will be placed inside the nav.

So you do not need to add HTML boilerplate code
or the nav element itself but rather the
content/elements that will be placed inside it.

-->

<div>
    <a href="#"><img src="assets/images/logo/logo_color_transparent_png.png" alt="DigitalDash Logo"></a>
</div>
<ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="digital-walks.html">Digital Walks</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="contact.html">Contact</a></li>
</ul>
<div>
    <a href="php/pages/signup.php" class="primary-btn">Sign up</a>
    <button id="theme-switcher" type="button"><i class="fa-solid fa-moon"></i></button>
</div>