


:root {
    --layout-width: 50vw;
    --image-overlay: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgb(0, 0, 0, 0.75) 100%);
}

body{
background-image: var(--image-overlay), url("../assets/images/backgrounds/pexels-larsmai-4815491.jpg") ;
background-size: 100% 100%, cover;
background-position: center;
background-repeat: no-repeat ;


}



footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
   
   



}