
    
#root {
    max-width: var(--layout-width);
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    font-size: clamp(1rem, 0.75rem + 0.5vmax, 1.75rem);
}

.container {
    width: 90%;
    height: auto;

}
.full-screen-section {
height: 100vh;
}

@media (max-width: 768px) {
    #root {
        max-width: 100vw;
       
    }
}


:root {
    --layout-width: 50vw;
    --image-overlay: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgb(0, 0, 0, 0.75) 100%);
}

body{
background-image: var(--image-overlay), url("../assets/images/backgrounds/pexels-larsmai-4815491.jpg") ;
background-size: 1715px;
background-position: center;
background-repeat: no-repeat ;

}

main section > div:first-child {
    flex: 2;
    min-width: 16rem;
    padding-right: 100px;
    text-align: center;
    align-content: left;
}






main section > div:last-child {
    display: -moz-grid-line;
    
  
}

main section > div:last-child > div {
    align-content: right;
}