<div class="description">
    <h2>Luxembourg Creek</h2>
    <span><small>Estimated Time: 60 minutes</small></span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, necessitatibus quas mollitia ipsum, alias reprehenderit nobis, dicta aut non atque tempora quo exercitationem quaerat commodi repellendus! Ipsum non laboriosam sit. Dolorem fugiat cumque illo vero alias voluptatum eveniet quia necessitatibus incidunt ea. Quo, reprehenderit quis?</p>
    <a href="#" class="primary-btn">Take Walk</a>
</div>
<div class="content">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/example2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>