<div class="description">
    <h2>Seattle Woods</h2>
    <span><small>Estimated Time: 30 minutes</small></span>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem at quod minus, labore magni consequuntur quidem tenetur ratione qui nihil aliquid reprehenderit veritatis iste nostrum doloremque dolorum necessitatibus suscipit asperiores quasi non commodi. Quidem, veritatis?</p>
    <a href="#" class="primary-btn">Take Walk</a>
</div>
<div class="content">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/example3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>