<div class="description">
    <h2>Mountain Bridge and River Landscape</h2>
    <span><small>Estimated Time: 45 minutes</small></span>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi sed expedita harum aperiam velit numquam doloribus quod placeat. Dicta, perferendis voluptatem? Odit voluptatum corporis aliquid perferendis vitae atque debitis, consectetur, harum, nam architecto blanditiis sequi.</p>
    <a href="#" class="primary-btn">Take Walk</a>
</div>
<div class="content">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/example1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>